<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="EventHubConnection" value="Endpoint=sb://massroverservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=BVA3jznfqKsVwB6yLV1NOxITN2fn9EgYr4JoQVEFnhM="/>
  </appSettings>
</configuration>